{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnprofile/css/profile.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnarticle/css/article.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnarticle/genericons/genericons.css')}}" />
{% endblock %}
{% block body %}
    <div class="profile_left_panel">
        {% if is_granted("ROLE_ADMIN") %}
            {{include ("JohnAdminBundle::links.html.twig") }}
        {% else %}

            {{include ("JohnProfileBundle::links.html.twig") }}
        {% endif %}
    </div>
    <div class="content">
        {% block main %}
        {% endblock %}
    </div>


{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src="{{ asset("bundles/johnprofile/js/profile.js") }}"></script>
 {% endblock %}
