{% extends '::base.html.twig' %}

{% block body %}

    <div class="profile_left_tab">
        Actions
        {{ include('JohnSavantBundle:Profile:links.html.twig') }}
    </div>
    <div id="profile_main_tab">
        Welcome {{ app.user.firstname }}, {{ app.user.lastname }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/johnsavant/js/profile.js") }}"></script>
{% endblock %}