{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnadmin/css/admin.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnarticle/css/article.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnarticle/genericons/genericons.css')}}" />
{% endblock %}
{% block body %}
    <div class="admin_left_panel">
        {{include ("JohnAdminBundle::links.html.twig") }}
    </div>
    <div class="admin-content">
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}