{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnprofile/css/profile.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnarticle/css/article.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnadmin/css/admin.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/johnarticle/genericons/genericons.css')}}" />
{% endblock %}
{% block body %}
    <nav class="profile-left-nav">
        {{include ("JohnAdminBundle::links.html.twig") }}
    </nav>
    <div class="content">
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}