{{ form_start(form) }}
    <div>
        <a href="{{ path('article_new') }}"><span class="genericon genericon-document">Add article</span></a>
    </div>
    {{ form_row(form.category) }}
    {{ form_row(form.active) }}
    {{ form_row(form.published) }}
{{ form_end(form) }}