{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            <ul class="article_error">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.categories) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.url) }}

    {{ form_row(form.featured_image.file) }}
    {{ form_row(form.featured_image.alt) }}

    {{ form_row(form.existing_tags) }}
<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e}}">
    {% for tag in form.tags %}
        <li>{{ form_row(tag.name) }}</li>
    {% endfor %}
</ul>

    {{ form_row(form.published) }}
{{ form_end(form) }}