{% extends 'JohnAdminBundle::admin_layout.html.twig' %}

{% block admin_main %}


    <div class="articles-header">
        <a href="{{ path('article_new') }}"><span class="genericon genericon-document">Add article</span></a>
        {{ include('JohnArticleBundle:Article:filter.html.twig',{'form':filter_form}) }}

    </div>


    {% for article in articles %}

        <article>
           <h2><a href="{{ path('article_show',{id:article.id}) }}">{{ article.title }}</a></h2>
            {% if article.featuredImage %}
                <figure >
                   <img  alt="{{ article.featuredImage.alt }}" src="{{ asset(('uploads/featured_images/'~article.featuredImage.name)| imagine_filter('my_thumb'),'cdn')}}">
                </figure>
            {% endif %}

           <div class="truncate-content">
               {{ article.content|truncate(550)|striptags }}
           </div>
            <footer>

                 {% if article.published ==false  %}
                     <span class="genericon genericon-show">Unpublished</span>

                 {% else %}
                     <span class="genericon genericon-edit">Published</span>
                 {% endif %}
                <span class="genericon genericon-user">Author:{{ article.author.firstName~' '~article.author.lastName }}</span>, <span class="genericon genericon-time">Created: {{ article.created|date("m/d/Y") }},Updated: {{ article.updated|date("m/d/Y") }}</span>
            </footer>
        </article>
    {% endfor %}

{% endblock %}