{% extends 'JohnArticleBundle::article_layout.html.twig' %}
{% block main %}
    {{ parent() }}

    {#filter form available for admin only#}
    {% if  filter_form != null %}
        <div class="articles-filter">
            {{ include('JohnArticleBundle:Article:filter.html.twig',{'form':filter_form}) }}
        </div>
    {% endif %}


    {% for article in articles %}
        <article>
            <h2><a href="{{ path('article_show',{id:article.id}) }}">{{ article.title }}</a></h2>

            {#if the article wasn't sent to publish show edit,delete and publish buttons#}
            {#only for users. The admin has all buttons in show page#}
            {% if not is_granted('ROLE_ADMIN') and article.published==false%}
                <div class="article-actions">
                    <a href="{{ path('article_edit',{id:article.id}) }}">Edit</a>
                    {{ form(article.publishform) }}
                    {{ form(article.deleteform) }}
                </div>
            {% endif %}


            <div style="clear:both"></div>

            {% if article.featuredImage %}
                <figure >
                    {#<img  alt="{{ article.featuredImage.alt }}" src="{{ asset(('uploads/featured_images/'~article.featuredImage.name)| imagine_filter('my_thumb'),'cdn')}}">#}
                    <img  alt="{{ article.featuredImage.alt }}" src="{{ asset(article.featuredImage.webPath|imagine_filter('my_thumb'),'cdn')}}">
                </figure>
            {% endif %}

           {#<p>{{ article.content|truncate(550)|striptags }}</p>#}
            <p>{{ article.abstract|striptags }}</p>
            <footer>
                {% if article.active %}
                 <span class="genericon genericon-show">Published</span>
                {% elseif  article.published %}
                    <span class="genericon genericon-edit">Sent to publish</span>
                 {% else %}
                     <span class="genericon genericon-edit">Draft</span>
                 {% endif %}
                 <span class="genericon genericon-category">{{ article.categories[0] }}</span>
                <span class="genericon genericon-user">Author:{{ article.author.firstName~' '~article.author.lastName }}</span>, <span class="genericon genericon-time">Updated: {{ article.updated|date("m/d/Y") }}</span>
            </footer>
        </article>
    {% endfor %}

    <nav>{{ pagination_links|raw }}</nav>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {% javascripts 'bundles/johnarticle/js/filter_articles.js' filter="uglifyjs"%}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}