{% extends 'JohnProfileBundle::profile_layout.html.twig' %}

{% block main %}

     <a href="{{app.request.headers.get('referer')  }}"> << Back</a>
    {#show eidt, publish and delete buttons only for admin or in preview mode #}
    {% if is_granted("ROLE_ADMIN") or not published  %}
        <div class="article-admin-panel">
            {{ form(delete_form) }}
            {{ form(publish_form) }}
            <a class="edit-article" href="{{ path('article_edit',{'id':entity.id}) }}">Edit this article</a>
        </div>
   {% endif %}

    {% for flashMessage in app.session.flashbag.get('publish_message') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

<h1>{{ entity.title }}</h1>
    {% if entity.featuredImage %}
        <figure style="float:left">
            <img  alt ="Featured images" src="{{ asset(('uploads/featured_images/'~entity.featuredImage.name)| imagine_filter('my_thumb'),'cdn')}}">
        </figure>
    {% endif %}
{{ entity.content|raw }}
<h2>Article tags</h2>
    <ol>
        {% for tag in entity.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ol>


{% endblock %}

