{% extends 'JohnArticleBundle::article_layout.html.twig' %}

{% block main %}
    {{ parent() }}
     {#<a href="{{app.request.headers.get('referer')  }}"> << Back</a>#}

    <article>
        <hgroup>
            <h2>{{ entity.title }}</h2>
            <h5>By {{ entity.author.firstName~' '~entity.author.lastName }}</h5>
        </hgroup>

        <section>
            <h4>Abstract</h4>
            {{ entity.abstract }}
        </section>

        <section>
            <h4>Content</h4>
            {{ entity.content|raw }}
        </section>

        <aside style="background-color:beige">Tags :
         <span class="genericon genericon-tag" ></span>
        {% for tag in entity.tags %}
            {{ tag.name }}&nbsp;
        {% endfor %}
        </aside>


        <footer>
            {#show edit, publish,active and delete buttons  for admin #}
            {% if is_granted("ROLE_ADMIN") %}
                <nav class=" article-admin-actions article-actions">
                    <span class="genericon genericon-cog">*</span>
                    {{ form(delete_form) }}
                    {{ form(publish_form) }}

                    {{ form(activate_form) }}
                    <a  href="{{ path('article_edit',{'id':entity.id}) }}">Edit</a>
                </nav>
            {% endif %}
        </footer>

    </article>

    {#
    {% if entity.featuredImage %}
        <figure style="float:left">
            <img  alt ="Featured images" src="{{ asset(('uploads/featured_images/'~entity.featuredImage.name)| imagine_filter('my_thumb'),'cdn')}}">
        </figure>
    {% endif %}
    #}



{% endblock %}

