{% extends 'JohnArticleBundle::article_layout.html.twig' %}

{% block main %}
    {{ parent() }}
     {#<a href="{{app.request.headers.get('referer')  }}"> << Back</a>#}

    <article>
        <header>
            <h2>{{ entity.title }}</h2>
        </header>

        {{ entity.content|raw }}

        <aside style="background-color:beige">Tags :
         <span class="genericon genericon-tag" ></span>
        {% for tag in entity.tags %}
            {{ tag.name }}&nbsp;
        {% endfor %}
        </aside>

        {#show edit, publish,active and delete buttons  for admin #}
        {% if is_granted("ROLE_ADMIN") %}
            <div class=" article-admin-actions article-actions">
                <span class="genericon genericon-cog">*</span>
                {{ form(delete_form) }}
                {{ form(publish_form) }}

                {{ form(activate_form) }}
                <a  href="{{ path('article_edit',{'id':entity.id}) }}">Edit</a>
            </div>
        {% endif %}
    </article>

    {#
    {% if entity.featuredImage %}
        <figure style="float:left">
            <img  alt ="Featured images" src="{{ asset(('uploads/featured_images/'~entity.featuredImage.name)| imagine_filter('my_thumb'),'cdn')}}">
        </figure>
    {% endif %}
    #}



{% endblock %}

